<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png"> -->
    <title>PDCI</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar" ng-app="dashboard" ng-controller="dashboardCtrl" account-profile>
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <!-- <b><img src="images/logo.png" alt="homepage" class="dark-logo" /></b> -->
                        <!--End Logo icon -->
                        <!-- Logo text -->
                         <span>PDCI</span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
					</ul>
                    <!-- User profile and search -->
					<li><span>{{profile.name}}&nbsp;</span></li>
                    <ul class="navbar-nav my-lg-0">
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            
							<a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{profile.picture}}" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user" drop-down></ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Menu</li>
                        <li> <a href="index.html"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard </span></a></li>
                        <li> <a href="lgu.html"><i class="fa fa-institution"></i><span class="hide-menu">LGU </span></a></li>
                        <li> <a href="data.html"><i class="fa fa-wpforms"></i><span class="hide-menu">Data </span></a></li>
                        <li> <a href="predictions.html"><i class="fa fa-bar-chart"></i><span class="hide-menu">Predictions </span></a></li>  
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3>
				</div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">PDCI</a></li>
                        <li class="breadcrumb-item active"><a href="index.html">Dashboard</a></li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-5 col-sm-5">
						<div class="form-group">
							<span>Period:</span>
							<select class="form-control" ng-model="dashboard.year">
								<option value="2013">2013</option>
								<option value="2014">2014</option>
								<option value="2015">2015</option>
								<option value="2016">2016</option>
								<option value="2017">2017</option>
							</select>
						</div>
					</div>
					<div class="col-lg-3 col-md-5 col-sm-5">
						<button class="btn btn-info" style="margin-top: 23px;" ng-click="app.list(this)">Go!</button>
					</div>
					<div class="col-lg-3 col-md-5 col-sm-5"></div>
			    </div>
				<hr>
				<div id="content"></div> <!--Display-->
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> Copyright &copy; <b><?php echo date("Y"); ?></b> Predicting Development Competitiveness Index. All rights reserved.</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="js/metisMenu.min.js"></script>	
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="js/lib/morris-chart/raphael-min.js"></script>
    <script src="js/lib/morris-chart/morris.js"></script>
    <script src="js/lib/morris-chart/morris-init.js"></script>
    <!--Custom JavaScript -->
    <script src="js/scripts.js"></script>

	
	<!-- dependencies -->
	<link rel="stylesheet" href="angular/modules/bootbox/bs4-fix.css">	
	<script src="angular/modules/bootbox/bootbox.min.js"></script>
	<script src="angular/modules/growl/jquery.bootstrap-growl.min.js"></script>
	<script src="angular/modules/blockui/jquery.blockUI.js"></script>

	<!-- angular -->	
	<script src="angular/angular.min.js"></script>
	<script src="angular/angular-route.min.js"></script>
	<script src="angular/angular-sanitize.min.js"></script>	
	<script src="angular/ui-bootstrap-tpls-3.0.2.min.js"></script>

	<!-- modules -->
	<script src="angular/modules/bootbox/bootstrap-modal.js"></script>
	<script src="angular/modules/growl/growl.js"></script>
	<script src="angular/modules/blockui/blockui.js"></script>
	<script src="angular/modules/account/account.js"></script>
	<script src="angular/modules/validation/validate.js"></script>
	<script src="angular/modules/post/window-open-post.js"></script>	
	<script src="modules/dashboard.js"></script>

	<!-- controller -->
	<script src="controllers/dashboard.js"></script>
	
</body>

</html>